/* warna bg black pada nav */
nav{
  background-color: black
}

/*Untuk mengatur tampilan ikon*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}
/*mengatur tampilan ikon saat mouse didekatkan*/
.fa:hover {
  opacity: 0.7;
}
/*mengatur tampilan ikon facebook*/
.fa-facebook {
  background: white;
  color: #3b5998;
}
/*mengatur tampilan ikon twitter*/
.fa-twitter {
  background: white;
  color: #55acee;
}
/*mengatur tampilan ikon google*/
.fa-google {
  background: white;
  color: #dd4b39;
}
/*mengatur tampilan ikon linkedin*/
.fa-linkedin {
  background: white;
  color: #007bb5;
}
/*mengatur background jumbotron*/
.jumbotron {
  background-color: #f8f8f8;
}
/*mengatur warna teks heading*/
h1,
h4,
h6 {
  color: #72ab00;
}
/*mengatur tampilan judul formulir*/
.message {
  padding: 15px;
  text-align: center;
}
